.sidebar{
   
    min-width: 300px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    border-style: solid;
}
.sidebar-top{
    color: #000000;
    font-size: 30px;
    font-weight: 600;
    padding: 1.5rem 0;
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff
    ;
}
.sidebar-top img{
    width: 200px;
}
.sidebar-list{
    padding: 47px 1rem;
    background-color: darkseagreen;
    border-top: solid;
    border-right: solid;
}
.sidebar-list-item{
    position: relative;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    padding: 1rem;
    border-style: solid;
    
    border-radius: 18px;
    color: #000000;
}
.sidebar-list-item.active{
    background: #1890ff;
    color: white;
}
.sidebar-list-item p{
   margin:0 0 0 1rem;
}

.sidebar-list-item:hover{
    background: #bb14ca;
    color: rgb(0, 0, 0);
    transition: .3s;
}

.admin-order-new{
    position: absolute;
    top: 0px;
    right: -10px;

    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;

    background: #1890ff;
    color: white;
    font-size: 13px;
}
